# Python cache files
__pycache__/
*.py[cod]

# IDE configurations
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# Log files
**/**runs**
**/wandb/

# MicroRTS jar file
microrts.jar

# Temporary files and directories
temp/
tmp/
*.tmp
*.temp
*.log

# System files
.DS_Store              # macOS
Thumbs.db              # Windows
*.swp                  # Vim swap files
*.swo                  # Vim backup files

# Other common exclusions
*.egg-info/
dist/
build/
*.egg
*.whl

# Virtual environment directories
venv/
env/
.venv/
.env
output/

# data files
# data/
# results/
distill-sap/data/*.jsonl
distill-sap/data/data-*

# others
TODO.md
